<%- include('./header') %> 
<%- include('./navbar') %> 
<script src="../../public/admin/alerts.js"></script>
<% if(notification.status=='error'){ %>
<script>
  validationError("<%= notification.message %>");
</script>
<% } else if(notification.status == 'success') {%>
<script>
  successNotification("<%= notification.message %>");
</script>
<% } %>
    
<% const expiry = convertDateString(coupenData.coupen_expiry);
let minDate = convertDateString(new Date()); %>
<div class="container">
    <div class="col-8 offset-2">
        <form action="/admin/update-coupen/<%= coupenData._id %>" method="post" id="coupen-edit-form">
            <label class="block text-sm mb-3 mt-5">
                <span class="text-gray-700 dark:text-gray-400">Coupen Name</span>
                <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" name="coupen_name" id="coupen_name" type="text" required value="<%= coupenData.coupen_name %>" />
            </label>

            <label class="block text-sm mb-3 mt-3">
                <span class="text-gray-700 dark:text-gray-400">Coupen Code</span>
                <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" name="coupen_code" type="text" readonly required value="<%= coupenData.coupen_code %>" />
            </label>
            
            <label class="block text-sm mb-3">
                <span class="text-gray-700 dark:text-gray-400">Coupen Expiry</span>
                <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" name="coupen_expiry" type="date" min="<%= minDate %>" value="<%= expiry %>" required />
            </label>
            
            <label class="block text-sm mb-3">
                <span class="text-gray-700 dark:text-gray-400">Coupen Type</span>
                <select class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" name="coupen_type" id="coupen_type" required>
                    <option selected disabled>Select a Type</option>
                    <option value="Flat OFF">Flat OFF</option>
                    <option value="Percentage">Percentage</option>
                </select>
            </label>

            <label class="block text-sm mb-3">
                <span class="text-gray-700 dark:text-gray-400">Offer Amount / Percentage</span>
                <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" name="coupen_offer_amount" id="coupen_offer_amount" type="text" value="<%= coupenData.coupen_offer_amount %>" required />
            </label>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" value="Submit" id="submit-btn">
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('submit-btn').addEventListener('click',(e)=>{
        e.preventDefault()
        const coupen_name = document.getElementById('coupen_name').value;
        const coupen_type = document.getElementById('coupen_type').value;
        let coupenOfferAmount = parseFloat(document.getElementById('coupen_offer_amount').value);


        if(coupen_name.trim() == "")
        alert('Coupen name cant be empty')

        else if(coupen_type =="")
        alert('coupen type required')
        else if(coupen_type =="")
        alert('coupen type required')
     else if (coupen_type === 'Percentage' && coupenOfferAmount > 99 ||  coupenOfferAmount<=0) {
      errorMessage = ' Offer amount should be Between 1% - 99%  for Percentage type.';
    }
    else{
        document.getElementById('coupen-edit-form').submit()
    }

    })
</script>